@charset "utf-8";
/* CSS Document */
/* body {
    font-family: 'Roboto', Arial, Tahoma;
    color: #333;
    font-size: 15px;
	font-weight:300;
} */

header#index {
	background:url(../img/video-1st-frame.jpg);
	background-size:100% auto;
	background-position:top center;
	background-repeat:no-repeat;
	max-height:90%;
}
.top {
	height: 70px;
	position: fixed;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.5);
	z-index: 999;	
}
.top.inner, .top.inner:hover, .scroll .top {
	background:#09c;	
}
.scroll .top {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#content {padding-top:110px;}
#content.index {padding-top:30px;}
#page-title {display:none;}
#page-title.blog-title {display:block;}
#indicator {display:none;}
#zoomcharts {
	top:14px;
	background: url(../img/zoomcharts-logo-white.svg);
	left:14px;
	background-repeat:no-repeat;
	width:200px;
	background-size:200px auto;
	height:56px;
	z-index:0;
}
#video {
	max-height:90% !important;	
}
h1#tagline {
	color:#fff;
	top: auto;
	bottom: 50px;
	left: 40px;
	z-index: 9;
	text-align: center;
	right: 40px;
	width:auto;
	text-shadow:0 1px 0 #000;
}
header#index > nav {
	position:absolute;
	bottom:58px;
	text-align:center;
	left:0;
	right:0;
}
#menu-container {
	top:0px;
	position:absolute;
	right:10px;
	text-transform:uppercase;
	line-height:70px;
	display:block;
}
#main-menu {
	float:left;
}
#action-btns {
	float:right;	
}
#main-menu a {
	display:inline-block;
	padding: 0 14px;
	font-weight:400;
}
#main-menu a:not(.btn) {
	color:#fff;	
	position:relative;
}
#main-menu a:not(.btn):after {
	content:"";
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	height:0px;
	background:#c33;
}
.top.inner #main-menu a:not(.btn):after, .top.inner #main-menu a.active:after {
	background:#c33 ;
}
#main-menu a:not(.btn):hover:after, #main-menu a.active:after {
	height:3px;
}
.top.inner #main-menu a:nth-child(1) {
	
}
.top.inner #main-menu a:nth-child(2) {
	
}
.top.inner #main-menu a:nth-child(3) {
	
}
#menu-container a.btn {
	padding:12px 24px;
	font-size:18px;
	font-weight:400;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 26px;
	margin: 10px 0 0 4px;
}
a#menu-trigger {
	top:4px;
	right:10px;	
	width:32px;
	height:32px;
	padding:14px;
	fill:#fff;
	z-index:9;
}
a#menu-trigger.on {
	fill:#09c;	
	display:block;
}
#share {
	position: absolute;
	right: 14px;
	bottom: 0px;
	text-align: right;
	clear:none;
	z-index:999;
}
#twitter-widget-0 {
	width: 120px !important;
	height: 20px;
	margin-right: -25px;
}

#action {max-width:1122px;margin:50px auto 0 auto;padding:24px 24px 24px 60px;position:relative;background-color:#fff;background-position:48px 24px}
#action h3, #action nav {
	padding-left: 530px;
	z-index:2;
	position:relative;
}
#chart {margin-bottom:20px;position:relative;background:#fff;overflow:visible}
#chart h2 {
	position:absolute;
	top:39px;
	left:0;
	right:0;
	text-align:center;
	font-size:24px;	
}
a#click-demo {
	position: absolute;
	left: 50%;
	top: -30px;
	margin-left: -125px;
	z-index: 998;
	width: 200px;
	text-align: center;
}
a#click-demo:after {
	display:inline-block;
	padding-left:8px;
	font-family:FontAwesome;
	content:"\f01a";
}
#chart nav {
	position:absolute;
	bottom:24px;
	right:24px;	
	z-index:999;
}
#clients {margin-top:0;}

#tagline small {
	display:block;
	font-size:15px;	
	padding:4px 0 0 0;
}
#browser-support {
	text-align:center;
	padding:4px 0 8px 0;
}
#browser-support li {
	display:inline-block;
	padding:0 6px;
}
#browser-support li i {
	font-style:normal;
	font-family:'ZoomCharts';
	font-size:1.5em;
}
#browser-support .hovershow {
	color:#333;	
	font-size:18px;
	text-shadow:none;
	width: 100px;
	left: -38px;
	bottom:55px
}
#browser-support .hovershow:after {
	right:auto;
	left:58px;
}

#products h3, #product-demo h3 {
	font-size: 20px;
	line-height: 23px;
}



@media only screen 
and (min-width : 1200px) {

h1#tagline strong {
	font-size: 60px;
	line-height: 56px;
}
h1#tagline {
	font-size: 28px;
}

}

@media only screen 
and (max-width : 1200px) {

header#index .container {
	left:20px;
	margin-left:0px;
	right:20px;
	width:auto;
}
#action {
	background-position: 24px 24px;
}
#zoomcharts {
	width: 200px;
	background-size: 200px auto;
	top: 18px;
}

}

@media only screen 
and (max-width : 1080px) {


h1#tagline {
	left: 20px;
	right: 20px;
}

}


@media only screen 
and (max-width : 1070px) {
	
#main-menu a {
	padding:0 10px;
}

}

@media only screen 
and (max-width : 1023px) {

#action {
	margin: 50px auto 0 auto;
	padding-bottom: 0px;
}
#action h3, #action nav {
	padding-left: 398px;
}
#action-btns {
	margin-right:68px;	
}
#main-menu {
	display:none;
	background:#fff;
	padding:0 0 4px 0;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	top:10px;
	position:absolute;
	right:0;
	border-radius:3px;
	line-height:100%;
	z-index:5;
}
#main-menu a:not(.btn):after {
	right:auto;
	top:0;
	width:0;
	height:auto;
}
#main-menu a:not(.btn):hover:after, #main-menu a:not(.btn).active:after {
	width:3px;
	height:auto;
}
#main-menu a:not(.btn) {
	min-width:250px;
	float:none;
	display:block;
	padding:16px 22px;
	color:#333 !important;
}
#main-menu a:not(.btn):hover {
	color:#000;
	background:rgba(0,0,0,.03);
}
#main-menu a.btn {
	display:inline-block;
	width:47%;
	text-align:center;
}

}


@media only screen 
and (max-width : 980px) {

#chart strong {
	top:20px;
	font-size:28px;	
}

}

@media only screen 
and (max-width : 880px) {

.btn {
	padding: 10px 14px 11px 14px;
	font-size:20px;
}


}

@media only screen 
and (max-width : 800px) {

#zoomcharts {left:12px;}
nav#menu {right:10px;}
#share {display:none;}
#video {
	margin-top:70px;	
}
#index .top {
	top:0px;
	background:#09c;	
}
header#index > nav {
	bottom:20px;
	text-align:right;
	right:20px;
}

#action {
	background:none;
	text-align:center;	
	min-height:1px;	
	padding:44px 24px;
	margin-top:0;
}
#action h3, #action nav {
	padding-left: 0;
	text-align:center;
}
#chart strong {
	top:16px;
	font-size:22px;	
}
#content.index {padding-top:10px;}

}

@media only screen 
and (max-width : 700px) {

#action {
	margin: 30px auto 16px auto;
	width:90%;
}
#action nav {display:none;}
#chart {overflow:visible}
#chart nav {
	bottom:32px;
	text-align:center;
	left:0;
	right:0;	
}
h1#tagline {
	display:none;
}

}

@media only screen 
and (max-width : 600px) {

#zoomcharts {
	width: 160px;
	background-size: 160px auto;
	top: 20px;
	left:20px;
	height:38px;
}

}

@media only screen 
and (max-width : 520px) {

#action-btns a:first-child {display:none} 

}

@media only screen 
and (max-width : 420px) {

#action-btns {display:none} 

}


